<template name="roompage">
	<div id="wrapper">	
	
		<div id="page-content-wrapper">		
	
			<div id="sidebar-content-wrapper">

					{{> sidebar }}
				
			</div>
			
			<div id="dashboard-content-wrapper">		
			
				<h1>Chat Rooms</h1>
				<hr class="style-four">
				<div id="dashboard-list-wrapper">
					<ul>
						{{#each chatrooms}}
							{{> roomlink}}
						{{/each}}
					</ul>						
				</div>
				
				<a style="float: left;" href="/chatroomscreate" id="newroom">New Chat Room</a>
			</div>	
		</div>
		
	</div>
</template>

<template name="roomcreatepage">
    <div id="wrapper">
	
		<div id="page-content-wrapper">

			<div id="sidebar-content-wrapper">

				{{> sidebar }}

			</div>

			<div id="dashboard-content-wrapper">
			
				<h1>Create Chat Room</h1>
				<hr>
				<table>
                    {{#if hasgame}}
                    <tr>
                        <td>
                            <p style=" padding: 5px 0 0 5px">Game: {{newchatroomgamename}}</p>
                        </td>
                    </tr>
                    {{/if}}
					<tr>
						<td>
							<p style=" padding: 5px 0 0 5px">New room name: </p>
						</td>
						<td>
							<input style="width:500px" type="text" id="newroomname">
						</td>
					</tr>
				<tr>
				<p style=" padding: 5px 0 0 5px">
                    <li class="{{#if publicchecked}}publicchecked{{/if}}">
                    Public: <input type="checkbox" checked={{publicchecked}} class="toggle-public-checked" />
                    </li>
                </p>
				</tr>
				<tr>
				<p style=" padding: 5px 0 0 5px">Invite users:</p>
				</tr>
				{{#each onlusr}}
					<tr>
					<li class="{{#if userchecked}}userchecked{{/if}}">

                        <span class="text">{{username}}</span>

						<input type="checkbox" checked={{userchecked}} class="toggle-user-checked" />

					</li>
					</tr>

				{{/each}}
				<tr>
				
				</tr>
				</table>
				
				<a href="/chatrooms" class="createroom">Create Room</a>
			</div>
		</div>

    </div>
</template>

<template name="roomadminpage">
    <div id="wrapper">

		<div id="page-content-wrapper">

			<div id="sidebar-content-wrapper">

				{{> sidebar }}

			</div>

			<div id="dashboard-content-wrapper">

				<h1>Access Control</h1>
				<hr>
				
				<table>
					<tr>
						<td>
							<h4>Allowed Users</h4>
						</td>
						<td>
							<h4>Uninvited Users</h4>
						</td>
						<td>
							<h4>Banned Users</h4>
						</td>
					</tr>
					<tr>
						<td>
							<div id="admin-list-wrapper">
								{{#each allowedcurrentusr}}
									{{> allowedcurrentusrctl}}
								{{/each}}
							</div>
						</td>
						<td>
							<div id="admin-list-wrapper">
								{{#each uninvitedcurrentusr}}
									{{> uninvitedcurrentusrctl}}
								{{/each}}
							</div>
						</td>
						<td>
							<div id="admin-list-wrapper">
								{{#each bannedcurrentusr}}
									{{> bannedcurrentusrctl}}
								{{/each}}
							</div>
						</td>
					</tr>
				</table>

				<a href="/" class="backtochat">Back to Chat Room</a>

			</div>
		</div>

    </div>
</template>

<!-- List templates -->
<template name="roomlink">

    <li class="room"><a href='/'>{{roomname}}</a></li>

</template>

<template name="allowedcurrentusrctl">

    <li class="allowedusritem">
        <p>
            {{username}} <input type="button" class="banuser" value="Ban"/>
        </p>
    </li>

</template>

<template name="uninvitedcurrentusrctl">

    <li class="allowedusritem">
        <p>
            {{username}} <input type="button" class="inviteuser" value="Invite"/>
        </p>
    </li>

</template>

<template name="bannedcurrentusrctl">

    <li class="allowedusritem">
        <p>
            {{username}} <input type="button" class="unbanuser" value="Unban"/>
        </p>
    </li>

</template>
