<template name="dashboardpage">
    <div id="wrapper">		

		<div id="page-content-wrapper">		
		
			<div id="sidebar-content-wrapper">

				{{> sidebar }}
			
			</div>
		
			<div id="dashboard-content-wrapper">				

				<h1>Dashboard</h1>
				<hr>
				
				{{#if userisadmin}}
					<h3>All Users ( {{usercount}} )</h3>
					<div id="dashboard-list-wrapper">
						<ul class="allusers">
							{{#each user}}
								{{> user_item}}
							{{/each}}
						</ul>
					</div>
					<h3>All Games ( {{gamecount}} )</h3>				
					<div id="dashboard-list-wrapper">
						<ul class="games">
							{{#each game}}
								{{> game_item}}
							{{/each}}
						</ul>
					</div>
					<p> <a href="/gamescreate">Add New Game</a></p>
				{{else}}
					<h3>You do NOT have permission to access this page.</h3>
				{{/if}}
			</div>

		</div>		

	</div>
</template>

<template name="game_item">
    <li class="user-item">		
		<p>
			Game Id: <b>{{_id}}		</b>
			Game Name: <b>{{gameName}}		</b>			
			<a href="/dashboard" class="deletegame">Delete</a>
		</p>
    </li>
</template>

<template name="user_item">
    <li class="user-item">		
		<p>
			User Id: <b>{{_id}}		</b>
			User Name: <b>{{username}}		</b>
			<a href="/dashboard" class="deleteuser">Delete</a>
		</p>
    </li>
</template>