<template name="dashboardpage">
    <div id="wrapper">		

		<div id="page-content-wrapper">		
		
			<div id="sidebar-content-wrapper">

				{{> sidebar }}
			
			</div>
		
			<div id="dashboard-content-wrapper">				

				<h1>Dashboard</h1>
				<hr class="style-four">
				
				{{#if userisadmin}}
					<h3>All Users ( {{usercount}} )</h3>
					<div id="dashboard-list-wrapper">
						<ul class="allusers">
							{{#each user}}
								{{> user_item}}
							{{/each}}
						</ul>
					</div>
					<div>
						<div style="float:left">
							<h3>All Games ( {{gamecount}} )</h3>
						</div>
						<div style="float:left; margin:20px 40px 0 40px">
							<p> <a class="button" href="/gamescreate">Add New Game</a></p>	
						</div>
					</div>							
					<div id="dashboard-list-wrapper">
						<ul class="games">
							{{#each game}}
								{{> game_item}}
							{{/each}}
						</ul>
					</div>					
				{{else}}
					<h3>You do NOT have permission to access this page.</h3>
				{{/if}}
			</div>

		</div>		

	</div>
</template>

<template name="game_item">
    <li class="user-item">		
		<p>
			<a href="/dashboard" class="deletegame">Delete</a>
			Game Name: <b>{{gameName}}		</b>
			Game URL: <b>{{gameUrl}}		</b>		
		</p>
    </li>
</template>

<template name="user_item">
    <li class="user-item">		
		<p>
			<a href="/dashboard" class="deleteuser">Delete</a>
			<b>isAdmin? </b>{{#if useradmincheck}}Yes{{else}}<em>No</em>{{/if}}
            <a href="/dashboard" class="toggle-user-isadmin">Toggle Admin</a>
			User Name: <b>{{username}}		</b>
			User Email: <b>{{emails.[0].address}}		</b>			
		</p>
    </li>
</template>