<template name="gamespage">
    <div id="wrapper">		

		<div id="page-content-wrapper">		
		
			<div id="sidebar-content-wrapper">

				{{> sidebar }}
			
			</div>
		
			<div id="dashboard-content-wrapper">	

				<h1>Games</h1>
				<hr>
				
				<h3>All Games ( {{gamecount}} )</h3>				
				<div id="dashboard-games-wrapper">
					<ul class="games">
						{{#each game}}
							{{> game_info}}
						{{/each}}
					</ul>
				</div>
			
			</div>
		</div>
	</div>
</template>

<template name="game_info">
	<div style="float:left; width:80%">
		<div style="float:left">
			<img  src="game_image.png">
		</div>
		<div style="float:left; padding-top:10px">
			<li class="user-item">		
				<p>	Game Name: <b>{{gameName}}		</b></p>
				<p>	Game URL: <a href="{{gameUrl}}" target="_blank"><b>{{gameUrl}}		</b></a></p>
				<p>	Game Description: <b>{{gameDescription}}		</b></p>
				<p><a href="/#" class="gameinvite">Game Invite</a></p>
				<hr>		
			</li>
		</div>
	</div>
</template>

<template name="gamescreatepage">
	<div id="wrapper">		

		<div id="page-content-wrapper">		
		
			<div id="sidebar-content-wrapper">

				{{> sidebar }}
			
			</div>
		
			<div id="dashboard-content-wrapper">	

				<h1>Create Game</h1>
				<hr>
				
				<table>
					<tr>
						<td>
							<p style=" padding: 5px 0 0 5px">Game Title: </p>
						</td>
						<td>
							<input style="width:500px" type="text" id="newgamename">
						</td>
						
					</tr>
					<tr>
						<td>
							<p style=" padding: 5px 0 0 5px">Game Description: </p>
						</td>
						<td>
							<input style="width:500px" type="text" id="newgamedescription">
						</td>
					</tr>
					<tr>
						<td>
						<p style=" padding: 5px 0 0 5px">Game URL: </p>
						</td>
						<td>
							<input style="width:500px" type="text" id="newgameurl">
						</td>
					</tr>
				</table>
				
				<a href="/dashboard" class="creategame">Create Game</a>
			
			</div>
		</div>
	</div>

</template>