<template name="homepage">
  <div id="wrapper">		

		<div id="page-content-wrapper">		
		
			<div id="sidebar-content-wrapper">

				{{> sidebar }}
			
			</div>
				<h1 class="room">Home</h1>
				<hr>
                <h5>Room: <b>{{chatroomName}}</b></h5>
                <h5>Game: <b>{{chatroomGame}}</b></h5>
			<div>
		
				<div id="message-content-wrapper">

					{{> messages }}
				
				</div>

 				<div id="currentuser-content-wrapper">

					{{> currentusers }}

				</div>

			</div>

			<div id="input-content-wrapper">	

				{{> input }}
			
			</div>

		</div>		

	</div>
</template>