<template name="homepage">
  <div id="wrapper">		

		<div id="page-content-wrapper">		
		
			<div id="sidebar-content-wrapper">

				{{> sidebar }}
			
			</div>
				<h1 class="room">Chat Room: <b>{{chatroomName}}</b></h1>
                {{#if hasGame}}
                    <h3>Game: <b>{{chatroomGameName}}</b> - <a href={{chatroomGameUrl}} target="_blank">{{chatroomGameUrl}}</a>
                    </h3>
                {{/if}}
				<hr>
			<div>
		
				<div id="message-content-wrapper">

					{{> messages }}
				
				</div>

 				<div id="currentuser-content-wrapper">

					{{> currentusers }}

				</div>

			</div>

			<div id="input-content-wrapper">	

				{{> input }}
			
			</div>

		</div>		

	</div>
</template>