<template name="invitespage">
    <div id="wrapper">

		<div id="page-content-wrapper">

			<div id="sidebar-content-wrapper">

				{{> sidebar }}

			</div>

			<div id="dashboard-content-wrapper">

				<h1>Invites</h1>
				<hr class="style-four">

                <ul>
                    {{#each chatroomsinvite}}
                        {{> invitelink}}
                    {{/each}}
                </ul>

			</div>

		</div>

	</div>
</template>

<template name="invitelink">

    <li class="invite">
        <h4>
            {{inviterName}} {{inviteMessage}}
            <a href="/" class="acceptinvite button">Accept</a>
            <a href="/invites" class="declineinvite button">Decline</a>
        </h4>
    </li>

</template>